<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Byrneco. Co. Industries</title>


    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="css/custom.css" rel="stylesheet">
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/x-editable/dist/bootstrap-editable/css/bootstrap-editable.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/x-editable/dist/bootstrap-editable/js/bootstrap-editable.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/js/holder.min.js"></script>
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/jqfunctions.js"></script>
    <!-- endinject -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body>
    <script>$.fn.editable.defaults.mode = 'inline';</script>
    <div class="row"><br>
        <h3>about_you cms v 0.1</h3>
        <%if (stories) { %>
        <% for(var i = 0;i < stories.length;i++){ %>
        <div class="col-md-3 col-sm-3 dash-panel" draggable="true">
            <p>title: <span id="titles<%=i%>" data-type="text" data-pk="<%=stories[i]._id%>" data-url="/admin/editStory" data-name="title"><%=stories[i].title%></span><br>
            tag: <span id="tags<%=i%>" data-type="text" data-pk="<%=stories[i]._id%>" data-url="/admin/editStory" data-name="tag"><%=stories[i].tag%></span><br>
            blurb: <span id="blurbs<%=i%>" data-type="textarea" data-pk="<%=stories[i]._id%>" data-url="/admin/editStory" data-name="blurb"><%=stories[i].blurb%></span><br>
            url: <span id="links<%=i%>" data-type="text" data-pk="<%=stories[i]._id%>" data-url="/admin/editStory" data-name="url"><a href="#"><%=stories[i].url%></a></span><br>
                position: <span id="positions<%=i%>" data-type="number" data-pk="<%=stories[i]._id%>" data-url="/admin/editStory" data-name="position"><%=stories[i].position%></span><br>
                id: <%=stories[i]._id%><br></p>
            <form action="/admin/deleteStory" method="post">
                <button name="delete" value="<%=stories[i]._id%>" class="glyphicon glyphicon-remove-circle" style="color: red"></button>
            </form>
            <script>$(document).ready(function() {
                    $('#blurbs<%=i%>').editable({
                        showbuttons: false
                    });
                    $('#titles<%=i%>').editable({
                        showbuttons: false
                    });
                    $('#tags<%=i%>').editable({
                        showbuttons: false
                    });
                    $('#links<%=i%>').editable({
                        showbuttons: false
                    });
                    $('#positions<%=i%>').editable({
                        showbuttons: false
                    });
                });</script>

        </div>
        <% } %>
        <% } %>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-3">
            <h4>Add story</h4>
            <form id="addStory"
                  action="/admin/addStory"
                  method="post"
                  enctype="multipart/form-data">
                <input name="title" id="title">title<br>
                <input name="tag" id="tag">tag<br>
                <input name="url" id="url">url<br>
                <input type="number" name="position" id="position">position<br>
                <textarea form="addStory" class="form-control" rows="3" cols="8" class="blurb" name="blurb">blurb</textarea><br>
                <input type="file" name="displayImage"><br>
                <input type="submit" value="Add">

                <input type="button" value="Reset Form" onClick="this.form.reset()" />
            </form>
        </div>
    </div>
    <br>

</body>
