<!DOCTYPE html>
<!-- by michael byrne okokokokokok -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Byrneco. Co. Industries</title>

    <!-- Injections from Gulp, Bower -->
    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="css/custom.css" rel="stylesheet">
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/x-editable/dist/bootstrap-editable/css/bootstrap-editable.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/x-editable/dist/bootstrap-editable/js/bootstrap-editable.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/js/holder.min.js"></script>
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/jqfunctions.js"></script>
    <!-- endinject -->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


<!-- Ugh, get this garbage out of here!-->
<script>
    $(document).ready(function () {
        $('#tlogo').hover(function () {
            this.src = '/images/twitterover.png';
        }, function () {
            this.src = '/images/twitter.png';
        });
    });
</script>

<script>
        $(document).ready(function () {
            $('#tlogo').hover(function () {
                this.src = '/images/twitterover.png';
            }, function () {
                this.src = '/images/twitter.png';
            });
        });
</script>

<div class="container">
    <div class="page-header"><h2>Michael Byrne</h2></div>
</div>
<div class="row">
    <div class="navbar navbar-default col-md-1">
        <ul class="nav nav-stacked navbar-nav">
            <li class="active"><a href="<%= nav[0].Link %>"><%= nav[0].Text %></a></li>
            <li><a href="<%= nav[1].Link %>"><%= nav[1].Text %></a></li>
            <li class="not-active"><a href="<%= nav[2].Link %>"><%= nav[2].Text %></a></li>
            <li class="not-active"><a href="<%= nav[3].Link %>"><%= nav[3].Text %></a></li>
            <li id="twitterOff"><a href="#"><img id="tlogo" width="50" src="/images/twitter.png"/></a></li>
        </ul>
    </div>
    <div class="col-md-5">
        <img src="/images/field.jpg" class="img-responsive">
    </div>
    <div class="col-md-5">
        <img src="/images/flowers.jpg" class="img-responsive">
    </div>
</div>
<div id="push"></div>

<div id="footer">
    <div class="container" style="text-align: center">
        <p class="muted credit">powered by about_you cms v 0.1 okokokok copyright 2016 mbyrne</p>
    </div>
</div>
</body>