<!DOCTYPE html>
<!-- by michael byrne okokokokokok -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Byrneco. Co. Industries</title>


    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="css/custom.css" rel="stylesheet">
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/x-editable/dist/bootstrap-editable/css/bootstrap-editable.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/x-editable/dist/bootstrap-editable/js/bootstrap-editable.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/js/holder.min.js"></script>
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/jqfunctions.js"></script>
    <!-- endinject -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- Navigation -->
<!--<nav class="navbar navbar-inverse navbar-left" role="navigation">
    <div class="container">
        &lt;!&ndash; Logo and responsive toggle &ndash;&gt;
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-console"></span>
            </a>
        </div>
        &lt;!&ndash; Navbar links &ndash;&gt;
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <% for(var i = 0;i < nav.length;i++){ %>
                <li><a href="<%= nav[i].Link %>"><%= nav[i].Text %></a></li>
                <% } %>
            </ul>

            &lt;!&ndash; Search &ndash;&gt;
            &lt;!&ndash; <form class="navbar-form navbar-right" role="search">
                 <div class="form-group">
                     <input type="text" class="form-control">
                 </div>
                 <button type="submit" class="btn btn-default">Search</button>
             </form>&ndash;&gt;

        </div>
        &lt;!&ndash; /.navbar-collapse &ndash;&gt;
    </div>
    &lt;!&ndash; /.container &ndash;&gt;
</nav>-->

<script>
    $(document).ready(function () {
        $('#tlogo').hover(function () {
            this.src = '/images/twitterover.png';
        }, function () {
            this.src = '/images/twitter.png';
        });
    });
</script>

<div class="container">
    <div class="page-header"><h2>Michael Byrne</h2></div>
</div>
<div class="row">
    <div class="navbar navbar-default col-md-1">
        <ul class="nav nav-stacked navbar-nav">
            <li class="active"><a class="active" href="<%= nav[0].Link %>"><%= nav[0].Text %></a></li>
            <% for(var i = 1;i < nav.length;i++){ %>
            <li><a href="<%= nav[i].Link %>"><%= nav[i].Text %></a></li>
            <% } %>
            <li id="twitterOff"><a href="#"><img id="tlogo" width="50" src="/images/twitter.png"/></a></li>
        </ul>
    </div>
    <div class="col-md-3 story">
        <div class="story-content">
            <a href="#" style="color: darkgray"><h4><%= story.title %></h4></a>
            <h6 style="color: #0d3349"><%= story.tag %></h6>
        </div>
    </div>
</div>

</body>